.carousel {
  /* perspective: 100%; */
  transform-style: preserve-3d;

  @apply relative lg:w-1/2 lg:h-1/2 w-1/2 h-1/2;
}

.card-container {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateY(calc(var(--offset) * 50deg))
    scaleY(calc(1 + var(--abs-offset) * -0.4))
    translateZ(calc(var(--abs-offset) * -30rem))
    translateX(calc(var(--direction) * -5rem));
  filter: blur(calc(var(--abs-offset) * 1rem));
  transition: all 0.3s ease-out;

  @media screen and (min-width: 1024px) {
    transform: rotateY(calc(var(--offset) * 50deg))
      scaleY(calc(1 + var(--abs-offset) * -0.4))
      translateZ(calc(var(--abs-offset) * -30rem))
      translateX(calc(var(--direction) * -5rem));
  }
}

.card {
  background-color: hsl(100deg, 40%, calc(100% - var(--abs-offset) * 50%));

  @apply w-full h-full p-8 rounded-2xl text-justify transition-all duration-300 ease-out;
}
.card h2 {
  @apply text-center lg:text-4xl font-light m-0 mb-7;
}
.card p,
.card h2 {
  transition: all 0.3s ease-out;
  opacity: var(--active);

  @apply truncate;
}

.nav {
  @apply text-black absolute flex items-center justify-center top-1/2 z-10 cursor-pointer select-none;

  svg {
    @apply w-10 h-auto;
  }
}
.nav.left {
  transform: translateX(-100%) translatey(-50%);
}
.nav.right {
  right: 0;
  transform: translateX(100%) translatey(-50%);
}
