---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import rozeImg from "../images/roze.jpeg";
---

<Layout
  title="ROZE"
  description="Hi I'm Roze. An engineer, writer, and content creator"
>
  <h1 class="text-3xl font-bold pb-10">Hello.</h1>
  <article class="text-xl space-y-4 leading-relaxed">
    <p>
      Thank you for visiting my website. I like to think of myself as a
      multi-disciplinary creator focusing on intersections of technology and
      art. I've created data visualizations on immigration and war which has
      been written about and presented at museum installments, written a hip-hop script for a play, organized within poetry and spoken word communities, and have built various technical side projects and startups.
    </p>
    <p>
      I studied computer science at the University of Virginia where I earned
      High Distinctions for my machine learning work. Later, I would focus on
      healthcare interoperability at Epic before founding my own startups. Now, I'm playing around with contextual computing and communal infrastructure to help build tooling for locals to find community and friendship.
    </p>
    <p>
      This will be the home for sharing my projects, written work, and research.
      At some point, I plan to organize this as a newsletter.
    </p>
    <p>
      You can find me on <a
        href="https://twitter.com/emotionldaffodl"
        class="underline hover:opacity-50">Twitter</a
      >, <a
        href="https://github.com/itsRoze/"
        class="underline hover:opacity-50">Github</a
      >, and <a
        href="https://tiktok.com/@emotionaldaffodil"
        class="underline hover:opacity-50">Tiktok</a
      >. The best way to contact me is through my email: <span
        class="whitespace-nowrap">hello <b>at</b> roze <b>dot</b> dev</span
      >
    </p>
    <p class="pt-12 font-light">Peace, Power, & Poetry</p>
    <Image
      src={rozeImg}
      alt="Profile picture of me"
      class="rounded-full w-40 h-auto"
    />
    <div class="flex font-light gap-2">
      <code class="mr-2">&#8212;</code><p>Roze</p><p
        class="font-urdu-nastaliq -mt-1 text-gray-600"
      >
        روز
      </p>
    </div>
  </article>
</Layout>
