---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import { title } from "@styles/home.css";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class={`${title}`}>روز</h1>
  </main>
</Layout>
