---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro." background="bg-melon" navColor="text-smoke">
  <!-- <header -->
  <!--   class="text-white flex flex-col items-center h-full justify-center gap-4" -->
  <!-- > -->
  <!--   <h1 class="font-urdu-nastaliq text-9xl pb-8">روز</h1> -->
  <!--   <h1 class="text-9xl font-medium uppercase tracking-widest">roze</h1> -->
  <!--   <h2 class="text-xl font-[200] uppercase"> -->
  <!--     Engineer | Writer | Content Creator -->
  <!--   </h2> -->
  <!--   <img src="/images/rose.svg" alt="Rose flower" class="w-14 h-auto py-2" /> -->
  <!-- </header> -->
</Layout>
