---
import Layout from "../layouts/Layout.astro";
import "@styles/projects.css";
import { ProjectList } from "@components/projects";
---

<Layout
  title="ROZE | PROJECTS"
  background="bg-myrtle-green"
  navColor="text-white"
  navUnderline="bg-white"
>
  <section class="flex justify-center items-center h-full w-full">
    <ProjectList client:load />
  </section>
</Layout>
