---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="ROZE | WRITING"
  background="bg-white"
  navColor="text-black"
  navUnderline="bg-black"
>
  <header>
    <h1
      class="text-5xl lg:text-8xl uppercase text-center py-4 lg:py-8 font-avenir font-bold"
    >
      Blog
    </h1>
  </header>
</Layout>
