---
import Layout from "@layouts/Layout.astro";
import BlogCard from "@components/BlogCard.astro";
import { getCollection } from "astro:content";

export interface Frontmatter {
  title: string;
  excerpt: string;
  coverImage: string;
  ogImage: string;
  date: string;
  minutesRead: number;
}
const allPosts = await getCollection("blog");

//sort by date
allPosts.sort((a, b) => {
  const dateA = new Date(a.data.date);
  const dateB = new Date(b.data.date);
  return dateB.getTime() - dateA.getTime();
});
---

<Layout title="ROZE | WRITING" description="Blog">
  <h1 class="text-3xl font-bold pb-10">Writing.</h1>
  <section>
    <ul class="space-y-6">
      {
        allPosts.map((post) => (
          <li>
            <BlogCard url={`/writing/${post.slug}`} frontmatter={post.data} />
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
