---
import Layout from "@layouts/Layout.astro";
import BlogCard from "@components/BlogCard.astro";

export interface Frontmatter {
  title: string;
  excerpt: string;
  coverImage: string;
  ogImage: string;
  date: string;
  minutesRead: number;
}
const allPosts = await Astro.glob<Frontmatter>("./*.mdx");

//sort by date
allPosts.sort((a, b) => {
  const dateA = new Date(a.frontmatter.date);
  const dateB = new Date(b.frontmatter.date);
  return dateB.getTime() - dateA.getTime();
});
---

<Layout title="ROZE | WRITING" description="Blog">
  <h1 class="text-3xl font-bold pb-10">Writing.</h1>
  <section>
    <ul class="space-y-6">
      {
        allPosts.map((post) => (
          <li>
            <BlogCard url={post.url ?? "/404"} frontmatter={post.frontmatter} />
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
